body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.cart-view-addtocart-wrapper {
	clear: both;
	padding-left: 23px;
}

.product-img {
  background-color: #ddd;
  padding: 10% 10% 10% 10%;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}